@charset "ISO-8859-1";

:root {
	font-size: 10px;
}

body {
	padding: 0;
	margin: 0;
	font-size: 1.6rem;
	font-family: sans-serif;
}

.heading {
	background: #343a40;
	padding: 2rem 5rem;
}

.heading h2 {
	margin: 0;
	color: #fff;
	font-weigh: bolder;
}

.container {
	padding: 2rem 5rem;
}

.form-input {
	margin: 1rem 0;
}

.btn {
	border-radius: 0.4rem;
	padding: 1rem;
	border: 0.1rem solid;
}

.btn-primary {
	background: #007bff;
	border-color: #007bff;
	color: #fff;
}

.error {
	color: red;
	font-size: 1.2rem;
}